In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time, datetime
import re

In [2]:
data=pd.read_csv('./New_Clean.csv')

In [3]:
def cyclical_encoding(hour):
    # Encode hour using sine and cosine functions
    hour_sin = np.sin(2 * np.pi * hour / 24)
    hour_cos = np.cos(2 * np.pi * hour / 24)
    return hour_sin, hour_cos

# Apply cyclical encoding to 'departure_hour' and 'arrival_hour' columns
data['departure_hour_sin'], data['departure_hour_cos'] = zip(*data['departure_hour'].apply(cyclical_encoding))
data['arrival_hour_sin'], data['arrival_hour_cos'] = zip(*data['arrival_hour'].apply(cyclical_encoding))

In [4]:
data.head(1)

,day_of_week,airline,flight,source_city,departure_hour,departure_category,stops,arrival_hour,arrival_category,destination_city,class,duration,days_left,price,departure_hour_sin,departure_hour_cos,arrival_hour_sin,arrival_hour_cos
0,Friday,SpiceJet,SG-8709,Delhi,18,Evening,0,21,Night,Mumbai,economy,130,1,5953,-1.0,-1.836970e-16,-0.707107,0.707107

In [5]:
data['airline'].unique()

array(['SpiceJet', 'AirAsia', 'Vistara', 'GO FIRST', 'Indigo',
       'Air India', 'Trujet', 'StarAir'], dtype=object)

In [6]:
encoded_airline = pd.get_dummies(data['airline'], dtype=int)

# Concatenate the encoded airline columns with the original DataFrame
data = pd.concat([data, encoded_airline], axis=1)

In [7]:
data.head(1)

,day_of_week,airline,flight,source_city,departure_hour,departure_category,stops,arrival_hour,arrival_category,destination_city,...,arrival_hour_sin,arrival_hour_cos,Air India,AirAsia,GO FIRST,Indigo,SpiceJet,StarAir,Trujet,Vistara
0,Friday,SpiceJet,SG-8709,Delhi,18,Evening,0,21,Night,Mumbai,...,-0.707107,0.707107,0,0,0,0,1,0,0,0