In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
import time, datetime
import re

In [2]:
data=pd.read_csv('./New_Clean.csv')

In [3]:
data.drop(['flight'], axis=1, inplace=True)

In [4]:
data.head

<bound method NDFrame.head of        day_of_week   airline source_city  departure_hour departure_category  \
0           Friday  SpiceJet       Delhi              18            Evening
1           Friday  SpiceJet       Delhi               6      Early Morning
2           Friday   AirAsia       Delhi               4      Early Morning
3           Friday   Vistara       Delhi              10            Morning
4           Friday   Vistara       Delhi               8            Morning
...            ...       ...         ...             ...                ...
300256    Thursday   Vistara     Chennai               9            Morning
300257    Thursday   Vistara     Chennai              12          Afternoon
300258    Thursday   Vistara     Chennai               7      Early Morning
300259    Thursday   Vistara     Chennai               7      Early Morning
300260    Thursday   Vistara     Chennai               9            Morning

        stops  arrival_hour arrival_category destination_city     class  \
0           0            21            Night           Mumbai   economy
1           0             8          Morning           Mumbai   economy
2           0             6    Early Morning           Mumbai   economy
3           0            12        Afternoon           Mumbai   economy
4           0            11          Morning           Mumbai   economy
...       ...           ...              ...              ...       ...
300256      1            19          Evening        Hyderabad  business
300257      1            22            Night        Hyderabad  business
300258      1            20            Night        Hyderabad  business
300259      1            17          Evening        Hyderabad  business
300260      1            19          Evening        Hyderabad  business

        duration  days_left  price
0            130          1   5953
1            140          1   5953
2            130          1   5956
3            135          1   5955
4            140          1   5955
...          ...        ...    ...
300256       605         49  69265
300257       625         49  77105
300258       830         49  79099
300259       600         49  81585
300260       605         49  81585

[300261 rows x 13 columns]>

In [5]:
def cyclical_encoding(hour):
    # Encode hour using sine and cosine functions
    hour_sin = np.sin(2 * np.pi * hour / 24)
    hour_cos = np.cos(2 * np.pi * hour / 24)
    return hour_sin, hour_cos

# Apply cyclical encoding to 'departure_hour' and 'arrival_hour' columns
data['departure_hour_sin'], data['departure_hour_cos'] = zip(*data['departure_hour'].apply(cyclical_encoding))
data['arrival_hour_sin'], data['arrival_hour_cos'] = zip(*data['arrival_hour'].apply(cyclical_encoding))
#code for drop duplicats rows(rows where all the features/columns are the same)
data = data.drop_duplicates()

In [6]:
data.columns

Index(['day_of_week', 'airline', 'source_city', 'departure_hour',
       'departure_category', 'stops', 'arrival_hour', 'arrival_category',
       'destination_city', 'class', 'duration', 'days_left', 'price',
       'departure_hour_sin', 'departure_hour_cos', 'arrival_hour_sin',
       'arrival_hour_cos'],
      dtype='object')

In [7]:
days_of_week_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Create an OrdinalEncoder object with specified categories
encoder = OrdinalEncoder(categories=[days_of_week_order])

# Encode the 'day_of_week' column
data['day_of_week'] = encoder.fit_transform(data[['day_of_week']]).astype(int)

# Create a dictionary to store the mapping of original days to encoded integers
days_mapping = dict(zip(days_of_week_order, range(len(days_of_week_order))))

# Display the mapping
print("Encoding Mapping:")
print(days_mapping)

Encoding Mapping:
{'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}

In [8]:
encoder = OrdinalEncoder()

# Fit and transform the 'airline' column
encoded_values = encoder.fit_transform(data[['airline']]).astype(int)

# Store the encoded values back into the 'airline' column in the DataFrame
data['airline'] = encoded_values

# Get the unique airlines in the original data
unique_airlines = encoder.categories_[0]

# Create a dictionary to store the mapping of original airlines to encoded integers
airline_mapping = dict(zip(unique_airlines, range(len(unique_airlines))))

# Display the mapping
print("Encoding Mapping for Airline:")
print(airline_mapping)

Encoding Mapping for Airline:
{'Air India': 0, 'AirAsia': 1, 'GO FIRST': 2, 'Indigo': 3, 'SpiceJet': 4, 'StarAir': 5, 'Trujet': 6, 'Vistara': 7}

In [9]:
print(data['source_city'].unique())

['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']

In [10]:
print(data['destination_city'].unique())

['Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai' 'Delhi']

In [11]:
unique_cities = sorted(set(data['source_city'].unique()) | set(data['destination_city'].unique()))

# Create an OrdinalEncoder object
encoder = OrdinalEncoder(categories=[unique_cities, unique_cities])

# Fit and transform both 'source_city' and 'destination_city' columns together
encoded_values = encoder.fit_transform(data[['source_city', 'destination_city']]).astype(int)

# Replace the original 'source_city' and 'destination_city' columns with the encoded values
data['source_city'] = encoded_values[:, 0]
data['destination_city'] = encoded_values[:, 1]

# Get the unique cities in the original data
unique_cities = sorted(unique_cities)

# Create a dictionary to store the mapping of original cities to encoded integers
encoding_mapping_cities = dict(zip(unique_cities, range(len(unique_cities))))

# Display the mapping
print("\nEncoding Mapping for Cities:")
print(encoding_mapping_cities)

Encoding Mapping for Cities:
{'Bangalore': 0, 'Chennai': 1, 'Delhi': 2, 'Hyderabad': 3, 'Kolkata': 4, 'Mumbai': 5}

In [12]:
encoder = OrdinalEncoder()

# Fit and transform the 'class' column
encoded_values = encoder.fit_transform(data[['class']]).astype(int)

# Store the encoded values back into the 'class' column in the DataFrame
data['class'] = encoded_values

# Get the unique classes in the original data
unique_classes = encoder.categories_[0]

# Create a dictionary to store the mapping of original classes to encoded integers
class_mapping = dict(zip(unique_classes, range(len(unique_classes))))

# Display the mapping
print("Encoding Mapping for Class:")
print(class_mapping)

Encoding Mapping for Class:
{'business': 0, 'economy': 1}

In [13]:
# Define the order of categories
categories_order = [ 'Early Morning', 'Morning', 'Evening','Afternoon', 'Night', 'Late Night']

# Assuming 'data' is your DataFrame with the specified columns

# Combine the unique values of both 'departure_category' and 'arrival_category' to get all unique categories
unique_categories = sorted(set(data['departure_category'].unique()) | set(data['arrival_category'].unique()))

# Create an OrdinalEncoder object with the specified categories
encoder = OrdinalEncoder(categories=[categories_order, categories_order])

# Fit and transform both 'departure_category' and 'arrival_category' columns together
encoded_values = encoder.fit_transform(data[['departure_category', 'arrival_category']]).astype(int)

# Replace the original 'departure_category' and 'arrival_category' columns with the encoded values
data['departure_category'] = encoded_values[:, 0]
data['arrival_category'] = encoded_values[:, 1]

# Create a dictionary to store the mapping of original categories to encoded integers
mapping_categories = dict(zip(categories_order, range(len(categories_order))))

# Display the mapping
print("\nEncoding Mapping for Categories:")
print(mapping_categories)

Encoding Mapping for Categories:
{'Early Morning': 0, 'Morning': 1, 'Evening': 2, 'Afternoon': 3, 'Night': 4, 'Late Night': 5}

In [14]:
data.head(1)

,day_of_week,airline,source_city,departure_hour,departure_category,stops,arrival_hour,arrival_category,destination_city,class,duration,days_left,price,departure_hour_sin,departure_hour_cos,arrival_hour_sin,arrival_hour_cos
0,4,4,2,18,2,0,21,4,5,1,130,1,5953,-1.0,-1.836970e-16,-0.707107,0.707107

In [15]:
for column in data.columns:
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

Unique values in column 'day_of_week':
[4 5 6 0 1 2 3]

Unique values in column 'airline':
[4 1 7 2 3 0 6 5]

Unique values in column 'source_city':
[2 5 0 4 3 1]

Unique values in column 'departure_hour':
[18  6  4 10  8 11  9 14 15  7 12 19  5 17 13 16 21 20 22 23  2  0  1  3]

Unique values in column 'departure_category':
[2 0 1 3 4 5]

Unique values in column 'stops':
[0 1 2]

Unique values in column 'arrival_hour':
[21  8  6 12 11 14 16 10 17  9  7 18 20 19 22 13 23 15  0  1  2  4  5  3]

Unique values in column 'arrival_category':
[4 1 0 3 2 5]

Unique values in column 'destination_city':
[5 0 4 3 1 2]

Unique values in column 'class':
[1 0]

Unique values in column 'duration':
[ 130  140  135  125  735  980  705  870  940  225  150  350  480  360
  880  970 1080 1390 1450  530  270  915  660 1145 1370 1585 1065 1175
 1600  910 1250  685 1335 1560 1305  230  265  460  500  625 1425 1170
  390  745 1265 1690 1695  555 1075  425  830  455  950 1465  250  255
  305 1760 1020 1630 1485  345  765  825 1070  330 1430  300 1590  770
  535  670  730  935  945  475  795  960 1365  380  435 1805 1095  365
  120  740  210  615  850 1535  245  585  400  580  605  755  420  495
  930  610 1410 1545  690 1285  855  465  320  340  285 1160  375  620
  545  925  290 1550  450 1655 1705  385 1475  990  680 1490  895 1565
  325 1710 1640  520 1225 1205  355 1235 1570 1050 1100 1310 1610  805
 1155 1415 1435  725  865 1555 1115  785  275 1295  630  700  515 1480
  885 1030  440  550  695 1385 1515 1275  505  655  840  295 1505  760
 1685 1280  860  890  920  955  570 1665 1495 1355  395  560  780  815
  665  335  900  405  590  675  710  575  510  845  635 1330 1325  525
  905 1530  985 1135  145  235 1470 1380  600 1140  995  470  190  975
 1445  280  415  820 1500  485 1025  445 1350  775  370 1420  310  800
 1035 1525 1750  540  565  490 1595 1340  750 1260 1455 1650 1090 1000
  170  165  175  180  430 1540  160  650 1110 1270 1400 1440 1040 1645
 1575  260  595 1180 1580 1015 1520 1635 1675 1620  720  640 1680 1300
 1315  835  810  155 1345 1460 1085 1775 1780 1875 1990 2215 1215 1375
  410  315 1240 1055 1150 1045  715 1890 1190 1625 1615 1290  364 1010
 1230 1120  645 1105 1715 1195 1200 1320 1790 1165 1510  185 1125 1670
 1210 1220 1245 1720 2150 2090 1395 1605 1185 1660  965 1815 1725 1835
 1130  790 1830 1770 1730 1840 1060  875 1740 1700 2380 1005  115 2245
 2185 1405 1360 2025 1850 1735  110  220  240   95  100  105 1255 2010
 1820 2115 1910 2400 1900 1925 2170 1845 2030 2070 1865 1810 2165 2000
 2220 2045 2225   85   80   90 2270 1755 2055 2210  205 1895 2015 2075
 1930   70 2110 2260 2235 2385 1860 2265 1995 1870 1795 1915 2495 2230
 1920 2130 2340 1885 2060 2315   63 2020  200  215 2050 2240 2125 1800
 1985 2330 1960 1765 2105 1950 1785   62   65   60 1945   75 2095 2145
 1905 1980 2085 2195 2510 2190 2005 2175 2440   55 2255   50 2445 2865
 2160 2425 2035 1825 2430 1745 2310 2080  419 1855 2135  195 2390 2275
   61 2250 2345 2325 2065 2455  804 1880 2520 1965 1940 1970 2155 1935
 2320 2300 2355 2465 1975 2205 2140 2120 2990 2040 2825 2750 2365 2395
 1955 2670 2490]

Unique values in column 'days_left':
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49]

Unique values in column 'price':
[ 5953  5956  5955 ... 87051 74731 77105]

Unique values in column 'departure_hour_sin':
[-1.00000000e+00  1.00000000e+00  8.66025404e-01  5.00000000e-01
  8.66025404e-01  2.58819045e-01  7.07106781e-01 -5.00000000e-01
 -7.07106781e-01  9.65925826e-01  1.22464680e-16 -9.65925826e-01
 -9.65925826e-01 -2.58819045e-01 -8.66025404e-01 -7.07106781e-01
 -8.66025404e-01 -5.00000000e-01 -2.58819045e-01  0.00000000e+00
  2.58819045e-01]

Unique values in column 'departure_hour_cos':
[-1.83697020e-16  6.12323400e-17  5.00000000e-01 -8.66025404e-01
 -5.00000000e-01 -9.65925826e-01 -7.07106781e-01 -8.66025404e-01
 -7.07106781e-01 -2.58819045e-01 -1.00000000e+00  2.58819045e-01
  2.58819045e-01 -9.65925826e-01 -5.00000000e-01  7.07106781e-01
  8.66025404e-01  9.65925826e-01  8.66025404e-01  1.00000000e+00
  9.65925826e-01  7.07106781e-01]

Unique values in column 'arrival_hour_sin':
[-7.07106781e-01  8.66025404e-01  1.00000000e+00  1.22464680e-16
  2.58819045e-01 -5.00000000e-01 -8.66025404e-01  5.00000000e-01
 -9.65925826e-01  7.07106781e-01  9.65925826e-01 -1.00000000e+00
 -8.66025404e-01 -9.65925826e-01 -5.00000000e-01 -2.58819045e-01
 -2.58819045e-01 -7.07106781e-01  0.00000000e+00  2.58819045e-01
  8.66025404e-01]

Unique values in column 'arrival_hour_cos':
[ 7.07106781e-01 -5.00000000e-01  6.12323400e-17 -1.00000000e+00
 -9.65925826e-01 -8.66025404e-01 -5.00000000e-01 -8.66025404e-01
 -2.58819045e-01 -7.07106781e-01 -1.83697020e-16  5.00000000e-01
  2.58819045e-01  8.66025404e-01 -9.65925826e-01  9.65925826e-01
 -7.07106781e-01  1.00000000e+00  9.65925826e-01  8.66025404e-01
  2.58819045e-01  7.07106781e-01]

In [16]:
print("Encoding Mapping:")
print(days_mapping)

Encoding Mapping:
{'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}

In [17]:
print("Encoding Mapping for Airline:")
print(airline_mapping)

Encoding Mapping for Airline:
{'Air India': 0, 'AirAsia': 1, 'GO FIRST': 2, 'Indigo': 3, 'SpiceJet': 4, 'StarAir': 5, 'Trujet': 6, 'Vistara': 7}

In [18]:
print("\nEncoding Mapping for Cities:")
print(encoding_mapping_cities)

Encoding Mapping for Cities:
{'Bangalore': 0, 'Chennai': 1, 'Delhi': 2, 'Hyderabad': 3, 'Kolkata': 4, 'Mumbai': 5}

In [19]:
print("Encoding Mapping for Class:")
print(class_mapping)

Encoding Mapping for Class:
{'business': 0, 'economy': 1}

In [21]:
print("\nEncoding Mapping for Categories:")
print(mapping_categories)

Encoding Mapping for Categories:
{'Early Morning': 0, 'Morning': 1, 'Evening': 2, 'Afternoon': 3, 'Night': 4, 'Late Night': 5}